<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tooltestingdemo.mapper.template.TemplateJobLogMapper">

    <sql id="JobLogColumns">
        id, execute_at, job_id, template_id, xxl_job_log_id, execute_result,
        success, duration_ms, error_msg, create_time, is_deleted
    </sql>

    <select id="selectRecentByJobId" resultType="com.example.tooltestingdemo.entity.template.TemplateJobLog">
        SELECT <include refid="JobLogColumns"/>
        FROM pdm_tool_template_job_log
        WHERE job_id = #{jobId}
        AND (is_deleted = 0 OR is_deleted IS NULL)
        ORDER BY execute_at DESC
        LIMIT #{limit}
    </select>

    <select id="selectLastLogsByJobIds" resultType="com.example.tooltestingdemo.entity.template.TemplateJobLog">
        SELECT
            t.id, t.execute_at, t.job_id, t.template_id, t.xxl_job_log_id, t.execute_result,
            t.success, t.duration_ms, t.error_msg, t.create_time, t.is_deleted
        FROM pdm_tool_template_job_log t
        INNER JOIN (
            SELECT job_id, MAX(id) AS max_id
            FROM pdm_tool_template_job_log
            WHERE (is_deleted = 0 OR is_deleted IS NULL)
            AND job_id IN
            <foreach collection="jobIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            GROUP BY job_id
        ) tmp
        ON t.id = tmp.max_id
    </select>

</mapper>
