<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tooltestingdemo.mapper.protocol.ProtocolTemplateMapper">

    <resultMap id="BaseResultMap" type="com.example.tooltestingdemo.entity.protocol.ProtocolTemplate">
        <id column="id" property="id"/>
        <result column="protocol_id" property="protocolId"/>
        <result column="template_name" property="templateName"/>
        <result column="template_code" property="templateCode"/>
        <result column="params_snapshot" property="paramsSnapshot"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="is_public" property="isPublic"/>

        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="deleted_by" property="deletedBy"/>
        <result column="deleted_time" property="deletedTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, protocol_id, template_name, template_code, params_snapshot, is_public,
        create_id, create_time, update_id, update_time, is_deleted, deleted_by, deleted_time
    </sql>

</mapper>

